  <nav class="grey darken-3">
    <div class="nav-wrapper container">
      <a href="#!" class="brand-logo">Storybook</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
      <ul class="right hide-on-med-and-down">
          {{#if user}}
            <li><a href="/dashboard">Welcome {{user.firstName}}</a></li>
            <li><a href="/auth/logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
          {{else}}
            <li><a href="/stories"><i class="fas fa-book"></i> Public Stories</a></li>
          {{/if}}
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    {{#if user}}
        <li><a href="/stories"><i class="fas fa-book"></i>Public Stories</a></li>
        <li class="divider"></li>
        <li><a href="/dashboard"><i class="fas fa-cog"></i>Dashboard</a></li>
        <li><a href="/stories/my"><i class="fas fa-user"></i>My Stories</a></li>
        <li><a href="/auth/logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
    {{else}}
        <a href="/auth/google" class="btn red darken-1 center">Login With <i class="fab fa-google"></i>oogle</a>
        <li><a href="/stories"><i class="fa fa-book"></i>Public Stories</a></li>
    {{/if}}
  </ul>